@media screen and (max-width: 1200px) {
    main .container-p1 {
        margin-top: 4vw;
    }

    main .container-p1 h1 {
        font-size: 24px;
        font-family: Gretaros;
        color: #CFCFCF;
        text-align: center;
        font-weight: 900;
        margin-bottom: 27px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1px;
    }

    main .container-p1 section img {
        width: 55px;
        margin-bottom: 0.7vw;
    }

    main .container-p1 section h2 {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 21px;
        text-align: start;
    }

    main .container-p1 section p {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 17px;
        text-align: start;
        margin-top: 10px;
        letter-spacing: 0.8px;
        line-height: 25px;
        display: flex;
        width: 100%;
    }

    main .container-p1 section .gerar-leads {
        background-color: #4682B440;
        padding: 25px 25px;
        width: 290px;
        text-align: start;
        border-radius: 20px;
        box-shadow: 0px 0px 30px -15px #4683b4;
    }

    main .container-p1 section .praticidade {
        background-color: #4682B440;
        padding: 25px 25px;
        width: 290px;
        text-align: start;
        border-radius: 20px;
        box-shadow: 0px 0px 30px -15px #4683b4;
    }

    main .container-p1 section .vender-produto {
        background-color: #4682B440;
        padding: 25px 25px;
        width: 290px;
        text-align: start;
        border-radius: 20px;
        box-shadow: 0px 0px 30px -15px #4683b4;
    }

    main .container-p1 section .line {
        width: 65px;
        height: 3px;
        margin-top: 4px;
        background-color: #FFFF00;
        border-radius: 10px;
    }

    /*------------------------- Container-P2 -------------------------*/
    main .container-p2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 120px;
        background-color: #122b67;
        width: 880px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0px;
        box-shadow: 0px 0px 30px -20px #4683b4;
        border-radius: 17px 98px 17px 98px;
    }

    main .container-p2 h1 {
        font-size: 24px;
        font-family: Gretaros;
        color: #CFCFCF;
        text-align: center;
        font-weight: 900;
        margin-bottom: 27px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1px;
    }

    main .container-p2 .img-sobre {
        width: 430px;
        margin-right: 10px;
        border-radius: 15px 82px 15px 82px;
    }

    main .container-p2 aside {
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px 0px 10px;
    }

    main .container-p2  aside h1 {
        font-size: 21px;
        font-family: Gretaros;
        color: #E8E8E8;
        text-align: center;
        font-weight: 900;
        margin-bottom: 11px;
        letter-spacing: 1px;
    }
    
    main .container-p2 aside h3 {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 16.3px;
        letter-spacing: 0.9px;
        line-height: 25px;
        text-align: start;
    }

    main .container-p2 aside div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5px;
    }

    main .container-p2 aside div p {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 15px;
        margin-top: 8px;
        letter-spacing: 0.3px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    main .container-p2 aside div img {
        width: 40px;
        margin-right: 7px;
    }

    /*------------------------- Container-P4 -------------------------*/
    main .container-p4{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    main .container-p4 h1 {
        font-size: 24px;
        font-family: Gretaros;
        color: #CFCFCF;
        text-align: center;
        font-weight: 900;
        margin-bottom: 27px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1px;
    }

    main .container-p4 .titulo {
        display: none;
    }

    main .container-p4 .titulo-responsive {
        display: block;
        margin-bottom: 40px;
    }
    
    main .container-p4 .content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    main .container-p4 .section-contato{
        width: 240px;
    }
    
    main .container-p4 .section-planejamento{
        width: 240px;
    }
    
    main .container-p4 .section-desenvolvimento{
        width: 240px;
    }
    
    main .container-p4 .section-site-pronto{
        width: 240px;
    }
    
    main .container-p4 section .container-number{
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%, 0 0);
        background-color: #122b67;
        border-radius: 20px 20px 0px 0px;
    }
    
    main .container-p4 .container-number h2 {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 44px;
        padding: 5px 20px;
    }
    
    main .container-p4 section .container-text{
        clip-path: polygon(0 0%, 50% 0, 100% 0%, 100% 100%, 0 100%);
        padding: 20px 12px 20px 20px;
        background-color: #122b67;
        margin-top: 5px;
        height: 173px;
        border-radius: 0px 0px 20px 20px;
    }
    
    main .container-p4 .container-text h2 {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 19px;
        text-align: start;
    }
    
    main .container-p4 .container-text p {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 15px;
        letter-spacing: 0.8px;
        line-height: 23px;
        text-align: start;
        margin-top: 3px;
    }

    /*------------------------- Perguntas-Frequentes -------------------------*/
    main .perguntas-frequentes h1 {
        font-size: 24px;
        font-family: Gretaros;
        color: #CFCFCF;
        text-align: center;
        font-weight: 900;
        margin-bottom: 27px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1px;
    }

    .perguntas-frequentes section label {
        padding: 13px;
        font-weight: 400;
        font-size: 16px;
    }

    .perguntas-frequentes section p {
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 0.2px;
        line-height: 25px;
    }

    footer{
        margin-top: 90px;
    }

}

/*------------------------- Max Width - 1060px -------------------------*/
@media screen and (max-width: 1060px) {
     main .container-p3 h1 {
        font-size: 19px;
        margin-bottom: 50px;
        letter-spacing: 1px;
    }
}

/*------------------------- Max Width - 900px -------------------------*/
@media screen and (max-width: 900px) {
    main .container-p2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 80px;
        background-color: #122b67;
        width: 530px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0px 40px 0px;
        box-shadow: 0px 0px 30px -20px #4683b4;
        border-radius: 102px 17px 102px 17px;
    }
    
    main .container-p2 aside {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px 0px 10px;
    }

    main .container-p2 .img-sobre {
        display: none;
    }

     /*------------------------- Container-P3 -------------------------*/
     main .container-p3 {
        margin-top: 100px;
        padding: 20px 0px;
    }

}

/*------------------------- Max Width - 800px -------------------------*/
@media screen and (max-width: 800px) {
    main {
        margin-top: 90px;
    }

    header .section-headear {
        width: 390px;
    }

    header .section-headear h1 {
        font-size:  25px;
        line-height: 30px;
        letter-spacing: 2.3px;
        font-family: Gretaros;
        color: #ffffff;
    }

    header .section-headear h1 .span-1 {
        font-size: 28px;
    }
    
    header .section-headear h1 .span-2{
        font-size: 21px;
    }

    header .section-headear p {
        font-size: 17px;
        font-family: 'Inter', sans-serif;
        color: #ffffff;
        font-weight: 200;
        line-height: 20px;
        margin-top: 1vw;
        width: 320px;
    }

    header .section-headear button {
        height: 46px;
        width:  248px;
        margin-top: 15px;
        font-size: 14px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        background-color: #ff0037;
        box-shadow: 0px 0px 30px -10px #ff0037;
        border: none;
        color: #ffffff;
        border-radius: 6.83px;
        font-weight: 500;
        letter-spacing: 0.7px;
    }

    main h1 {
        font-size: 21px;
    }

    /*------------------------- Container-P1 -------------------------*/
    main .container-p1 .titulo {
        display: none;
    }

    main .container-p1 .titulo-responsive {
        display: block;
        font-size: 21px;
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }

    /*------------------------- Container-P4 -------------------------*/
    main .container-p4 .section-contato{
        width: 300px;
    }
    
    main .container-p4 .section-planejamento{
        width: 300px;
    }
    
    main .container-p4 .section-desenvolvimento{
        width: 300px;
    }
    
    main .container-p4 .section-site-pronto{
        width: 300px;
    }

    main .container-p4 section .container-text{
        clip-path: polygon(0 0%, 50% 0, 100% 0%, 100% 100%, 0 100%);
        padding: 20px 12px 20px 20px;
        background-color: #122b67;
        margin-top: 5px;
        height: 150px;
        border-radius: 0px 0px 20px 20px;
    }
    
    main .container-p4 .container-text p {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 16px;
        letter-spacing: 0.8px;
        line-height: 23px;
        text-align: start;
        margin-top: 3px;
    }

    /*------------------------- Container-P5 -------------------------*/
    main .container-p5 {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 3.66vw;
        padding: 30px 0px;
        background-color: #ff0037a1;
    }

    main .container-p5 .container-text {
        width: 500px;
    }

    main .container-p5 .container-text h2 {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 26px;
        text-align: start;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    main .container-p5 .container-text h3 {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 18px;
        text-align: start;
        margin-top: 1.50vw;
        line-height: 25px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    main .container-p5 section {
        display: flex;
        width: 450px;
        height: 280px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 30px -13px #000000;
        margin-top: 35px;
    }

    main .container-p5 section h2 {
        color: #FFFFF0;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 30px;
        width: 95%;
        text-align: center;
    }

    main .container-p5 section p {
        color: #FFFFF0;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
    }

    main .container-p5 section h3 {
        color: #FFFFF0;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 35px;
        text-align: center;
        margin-top: 8px;
    }

    main .container-p5 section button {
        height: 48px;
        width:  250px;
        margin-top: 15px;
        font-size: 15px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        background-color: #ff0037;
        box-shadow: 0px 0px 30px -10px #ff0037;
        border: none;
        color: #ffffff;
        border-radius: 6.83px;
        font-weight: 500;
        letter-spacing: 0.7px;
    }

    /*------------------------- Perguntas-Frequentes -------------------------*/
    main .perguntas-frequentes{
        width: 550px;
        margin-top: 90px;
    }

    .perguntas-frequentes section label {
        display: flex;
        justify-content: space-between;
        background-color: #4682B440;
        cursor: pointer;
        padding: 13px;
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 15px;
    }

    .perguntas-frequentes section p {
        max-height: 0;
        padding: 0 1em;
        transition: all 0.35s;
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 15px;
        text-align: start;
        letter-spacing: 0.2px;
        line-height: 23px;
    }

    input:checked ~ p {
        max-height: 100vh;
        padding: 1em;
    }

}

/*------------------------- Max Width - 600px -------------------------*/
@media screen and (max-width: 600px) {
    .btn-whatsapp{
        width: 110px;
        margin-top: 100%;
        right: 10px;
        bottom: 20px;
        position: fixed;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 10;
    }

    .btn-whatsapp:hover > p{
        visibility: hidden;
        opacity: 0;
    }

    .btn-whatsapp:hover > .triangle-down{
        visibility: hidden;
        opacity: 0;
    }

    .btn-whatsapp a .img-whatsapp{
        width: 65%;
    }

    main {
        margin-top: 50px;
    }

    header img {
        width: 100%;
        opacity: 10;
        position: relative;
    }
    
    header .section-headear {
        width: 390px;
        top: -7vw;
        padding: 0vw 0vw 0vw 3vw;
        position: relative;
    }

    header .section-headear p {
        width: auto;
        line-height: 24px;
    }

    header .header-img-1{
        display: none;
    }

    header .header-img-2{
        display: block;
        width: 100%;
    }

    /*------------------------- Container-P1 -------------------------*/
    main .container-p1 section .gerar-leads {
        border-radius: 5px;
    }

    main .container-p1 section .praticidade {
        border-radius: 5px;
    }

    main .container-p1 section .vender-produto {
        border-radius: 5px;
    }

    /*------------------------- Container-P2 -------------------------*/
    main .container-p2 {
        margin-top: 100px;
        width: 90%;
        padding: 10px;
        border-radius: 5px;
    }

    main .container-p2 aside {
        padding: 5px;
        width: 100%;
    }

    main .container-p2 aside h3 {
        font-size: 16px;
    }

    main .container-p2 aside div p {
        font-size: 16px;
        margin-top: 12px;
    }

    main .container-p2 aside div img {
        width: 42px;
    }

    /*------------------------- Container-P3 -------------------------*/
    main .container-p3 .owl-prev {
        display: none !important;
    }

    main .container-p3 .owl-next {
        display: none !important;
    }

    main .container-p3 .owl-dots {
        margin-top: 36px;
    }

    /*------------------------- Container-P4 -------------------------*/
    main .container-p4{
        margin-top: 70px;
    }

    main .container-p4 section .container-number{
        border-radius: 5px 5px 0px 0px;
    }

    main .container-p4 section .container-text{
        border-radius: 0px 0px 5px 5px;
    }

    /*------------------------- Container-P5 -------------------------*/
    main .container-p5{
        margin-top: 90px;
        margin-bottom: -30px;
    }

    main .container-p5 .container-text{
        width: auto;
    }

    main .container-p5 .container-text h3 {
        margin-top: 3vw;
    }

    main .container-p5 section {
        width: 360px;
        height: 250px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 30px -13px #000000;
        padding: 25px 0px 25px 0px;
    }

    /*------------------------- Perguntas-Frequentes -------------------------*/
    main .perguntas-frequentes {
        width: 90%;
        margin-top: 130px;
    }
}

/*------------------------- Max Width - 405px -------------------------*/
@media screen and (max-width: 405px) {
    header .section-headear {
        width: auto;
        margin-left: 1%;
    }

    header .section-headear h1 {
        font-size:  27px;
        letter-spacing: 2.7px;
        font-family: Gretaros;
        color: #ffffff;
        line-height: 33px;
    }

    header .section-headear h1 .span-1 {
        font-size: 33px;
    }
    
    header .section-headear h1 .span-2{
        font-size: 27px;
    }

    header .section-headear p {
        font-family: 'Inter', sans-serif;
        color: #ffffff;
        font-weight: 200;
        margin-top: 1vw;
    }

    /*------------------------- Container-P3 -------------------------*/
    main .container-p3 .titulo-responsive{
        display: block;
    }
    
    main .container-p3 .titulo{
        display: none;
    }

    /*------------------------- Container-P5 -------------------------*/
    main .container-p5 .container-text h3 {
        margin-top: 5vw;
    }
}

/*------------------------- Max-wWidth: 380px -------------------------*/
@media screen and (max-width: 380px) {
    main .container-p5 section {
        width: 95%;
    }
}

/*------------------------- Max-wWidth: 370px -------------------------*/
@media screen and (max-width: 370px){
    main .container-p1 section p {
        font-size: 15px;
    }

    main .container-p1 section img {
        width: 52px;
        margin-bottom: 0.7vw;
    }

    main .container-p1 section h2 {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 22px;
        text-align: start;
    }

    main .container-p1 section p {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 16px;
        text-align: start;
        margin-top: 1.5vw;
        letter-spacing: 0.8px;
        line-height: 25px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    main .container-p1 section .gerar-leads {
        background-color: #4682B440;
        padding: 20px 15px;
        width: 85%;
        text-align: start;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 30px -15px #4683b4;
    }

    main .container-p1 section .praticidade {
        background-color: #4682B440;
        padding: 20px 15px;
        width: 85%;
        text-align: start;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 30px -15px #4683b4;
    }

    main .container-p1 section .vender-produto {
        background-color: #4682B440;
        padding: 20px 15px;
        width: 85%;
        text-align: start;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 30px -15px #4683b4;
    }

    main .container-p1 section .line {
        display: block;
        width: 74px;
        height: 2px;
        margin-top: 7px;
        background-color: #FFFF00;
        border-radius: 10px;
    }
}